@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Regular.ttf");
}

body {
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	color: #ddd;
	padding-bottom: 200px;
    background: #111;
    font-family: 'Open Sans'
	 }

a {color: royalblue;text-decoration: none; }

a:hover {
	color: lightblue;
	}

a:hover img { background: yellow; }

.entry {
	border-left: 10px solid darkslategray;
	padding: 10px;
	border-radius: 0 30px 30px 0;
	margin-bottom: 20px;
	background-color: #222;
	color: #eee;
	}

.entry h2 { margin: 5px auto 2px auto; }


footer strong { font-weight: bold; }

dt {
	font-weight: bold;
	}


.image {
	width: 175px !important;
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
	display: inline-table;
	padding: 0px;
}

img.centered {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
figcaption {
	padding: 0px;
	max-width: 175px;
}

h1,h2,h3,h4,h5,h6 {
	text-shadow: -1px 0 gray, -1px -1px gray, 0 -1px gray;
}

code {
	background-color: #111;
	color: #00ff00;
	border-radius: 20px;
	padding: 0px 5px 0px 5px;
}

.indexcolname {
	max-width: 100px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.indexcoldesc {
	font-weight: bold;
	padding: 10px;
	font-size: large;
}
.indexcollastmod,.indexcolsize {
	font-size: small;
	color: #555;
}

#indexlist {
margin: 0px auto;
}